
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

body{

    width:65vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(45deg,#0a0a0a,#3a4452);
   /* position: sticky; */
   /* right:700px; */
}
.calculator{
    border:1px solid #717377;
    padding:20px;
    border-radius: 18px;
    background: transparent;
    box-shadow: 3px 0px 15px rgba(113, 115, 120, 0.9 );
}
input{
    width:320px;
    padding:20px;
    margin:10px;
    font-size: 35px;
    background: transparent;
    text-align: right;
    border: none;
    box-shadow: 3px 0px 15px rgba(84, 84, 84, 0.1 );
    cursor:pointer;
    color: aliceblue;
    outline:none;
}
input::placeholder{
    color:beige
}

button{
    width:50px;
    height: 50px;
    margin: 10px;
     border: none;
    background: transparent;
    color:aliceblue;
    font-size: 20px;
     border-radius: 50%; 
    box-shadow: -3px -3px 15px  rgba(255,255,255,0.3);
    cursor: pointer;
   
   
}
button:hover{
    border: none;
}
.Btn-container{
    padding: 20px;
}
.equalBtn{
    background-color: rgb(243, 116, 70);
}
.operator{
    color: cyan;

   
}
  /* @media (max-width:30vw){

   .calculator{
    margin: auto;
   }

  } */